.required::before {
    content: "*";
}

.required {
    color: red;
}

.preview-email {
    display: inline;
    padding: 1px 12px;
    border-radius: 10px;
    background-color: #ccc;
}

.icon-close::before {
    content: "✖";
}

.icon-close {
    margin-bottom: 2px;
    font-size: 12px;
    background-color: black;
    border-radius: 50%;
}

.icon-close:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.icon-close:active {
    background-color: blue;
}